# <b> CHURN ANALYSIS

## Problem statement
To build a predictive model that identifies customers who are likely to churn based on their demographic, service usage, and billing data. This will help the company implement proactive retention strategies and reduce customer attrition.

# Feature 

- <b> Customer_ID	
    - Unique identifier for each customer.

#### Demographic Features
- <b> Gender	
    - Gender: Male or Female.
- <b> Age
- <b> Married	
    - Whether the customer is married (Yes/No).
- <b> State
    - The state from which the customer belongs 

#### Customer Relationship & Referral

- Number_of_Referrals	
    - Number of people the customer referred to the service. High referrals often indicate satisfaction.
- Tenure_in_Months
    - How long the customer has been using the service (in months). Shorter tenures may correlate with churn.

#### Plan & Deal-Related Features

- Value_Deal	
    - Type of promotional deal the customer is on. Many nulls suggest not all customers were on deals.

#### Service Features

- <b> Phone_Service	</b> : Whether the customer has phone service.
- <b> Multiple_Lines</b> :	Whether the customer has multiple lines (e.g., for family).
- <b> Internet_Service<b/>:	Whether the customer subscribes to Internet services.
- <b> Internet_Type	</b> : Type of internet connection (e.g., Fiber Optic, DSL, etc.).
- <b>Online_Security</b>: If the customer has added an online security service.
- <b>Online_Backup</b>:	Whether the customer subscribes to online backup.
- <b> Device_Protection_Plan</b>:	Subscription to device protection services.
- <b> Premium_Support</b>:	Access to premium technical support.
- <b> Streaming_TV</b>:	Subscription to streaming TV service.
- <b> Streaming_Movies</b>:	Subscription to streaming movie service.
- <b> Streaming_Music</b>:	Subscription to music streaming services.
- <b> Unlimited_Data</b>:	Whether the customer has unlimited data access.

- These features are crucial in understanding product usage behavior which may relate to churn.

#### Contract & Billing Info
- <b> Contract	Type of contract </b>:â€“ Monthly, One Year, Two Year. Long contracts typically mean less churn.
- <b> Paperless_Billing</b>:	Whether the customer opted for paperless billing (Yes/No).
- <b> Payment_Method</b>:	Method used for payment â€“ Credit Card, Bank Withdrawal, etc.

#### Financial Features
- <b>Monthly_Charge	 </b> :The monthly amount billed to the customer.
- <b>Total_Charges </b> :	Total charges billed till date.
- <b>Total_Refunds </b> :	Total amount refunded to the customer.
- <b>Total_Extra_Data_Charges </b> :	Charges for extra data usage.
- <b>Total_Long_Distance_Charges </b> :	Charges related to long-distance calls.
- <b>Total_Revenue </b> :	Total revenue generated from the customer.

#### ðŸŽ¯ Target & Churn-RelaColumn	Description
- <b> Customer_Status</b>:	Indicates whether the customer Stayed, Churned, or Joined (new customers). This is your primary target variable for churn analysis.
- <b>Churn_Category</b>:	Specific type of churn â€“ e.g., Dissatisfaction, Competitor, etc. Available only for churned customers.
- <b> Churn_Reason</b>:	Detailed reason for churn â€“ e.g., "Network reliability", "Billing issue". Helpful for interpretability or clustering.

#### Summary

- Customer ID	Customer_ID
- Demographics	Gender, Age, Married, State
- Referral & Tenure	Number_of_Referrals, Tenure_in_Months
- Services Used	Phone_Service through Unlimited_Data
- Contract & Billing	Contract, Payment_Method, Paperless_Billing
- Charges & Revenue	Monthly_Charge through Total_Revenue
- Target & Churn Info	Customer_Status, Churn_Category, Churn_Reason

# Project goal 
Creating an entire ETL proocess in a database & a Power BI dashboard to utilize the customer Data 
1. Analyze customer data 
    - Demographic
    - Geographic
    - Payment & Account Info
    - Services
2. Study churn Profile & Identify Area for implementing Marketing campaigns
3. Identify a Method to Predict Future Churners

In [6]:
import pandas as pd

In [8]:
df = pd.read_csv("Customer_Data.csv")

In [12]:
df.sample(5)

,Customer_ID,Gender,Age,Married,State,Number_of_Referrals,Tenure_in_Months,Value_Deal,Phone_Service,Multiple_Lines,...,Payment_Method,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Customer_Status,Churn_Category,Churn_Reason
2781,53365-GUJ,Male,32,Yes,Gujarat,4,19,Deal 2,No,NaN,...,Credit Card,35.40,1412.40,0.0,0,0.00,1412.40,Stayed,NaN,NaN
5825,24004-KAR,Female,41,No,Karnataka,5,33,NaN,Yes,No,...,Bank Withdrawal,100.30,6754.35,0.0,90,3366.68,10211.03,Stayed,NaN,NaN
3238,36962-WES,Male,76,No,West Bengal,10,25,NaN,Yes,Yes,...,Credit Card,84.80,906.85,0.0,0,45.10,951.95,Churned,Price,Extra data charges
3660,28976-HAR,Male,39,No,Haryana,2,8,NaN,Yes,Yes,...,Credit Card,90.25,6369.45,0.0,0,786.24,7155.69,Stayed,NaN,NaN
4330,26836-HAR,Male,52,No,Haryana,10,7,NaN,Yes,No,...,Credit Card,20.65,958.10,0.0,0,976.50,1934.60,Stayed,NaN,NaN

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6418 entries, 0 to 6417
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer_ID                  6418 non-null   object
 1   Gender                       6418 non-null   object
 2   Age                          6418 non-null   int64
 3   Married                      6418 non-null   object
 4   State                        6418 non-null   object
 5   Number_of_Referrals          6418 non-null   int64
 6   Tenure_in_Months             6418 non-null   int64
 7   Value_Deal                   2870 non-null   object
 8   Phone_Service                6418 non-null   object
 9   Multiple_Lines               5796 non-null   object
 10  Internet_Service             6418 non-null   object
 11  Internet_Type                5028 non-null   object
 12  Online_Security              5028 non-null   object
 13  Online_Backup                5028 non-null   object
 14  Device_Protection_Plan       5028 non-null   object
 15  Premium_Support              5028 non-null   object
 16  Streaming_TV                 5028 non-null   object
 17  Streaming_Movies             5028 non-null   object
 18  Streaming_Music              5028 non-null   object
 19  Unlimited_Data               5028 non-null   object
 20  Contract                     6418 non-null   object
 21  Paperless_Billing            6418 non-null   object
 22  Payment_Method               6418 non-null   object
 23  Monthly_Charge               6418 non-null   float64
 24  Total_Charges                6418 non-null   float64
 25  Total_Refunds                6418 non-null   float64
 26  Total_Extra_Data_Charges     6418 non-null   int64
 27  Total_Long_Distance_Charges  6418 non-null   float64
 28  Total_Revenue                6418 non-null   float64
 29  Customer_Status              6418 non-null   object
 30  Churn_Category               1732 non-null   object
 31  Churn_Reason                 1732 non-null   object
dtypes: float64(5), int64(4), object(23)
memory usage: 1.6+ MB

In [24]:
# missing values
df.isnull().sum()

Customer_ID                       0
Gender                            0
Age                               0
Married                           0
State                             0
Number_of_Referrals               0
Tenure_in_Months                  0
Value_Deal                     3548
Phone_Service                     0
Multiple_Lines                  622
Internet_Service                  0
Internet_Type                  1390
Online_Security                1390
Online_Backup                  1390
Device_Protection_Plan         1390
Premium_Support                1390
Streaming_TV                   1390
Streaming_Movies               1390
Streaming_Music                1390
Unlimited_Data                 1390
Contract                          0
Paperless_Billing                 0
Payment_Method                    0
Monthly_Charge                    0
Total_Charges                     0
Total_Refunds                     0
Total_Extra_Data_Charges          0
Total_Long_Distance_Charges       0
Total_Revenue                     0
Customer_Status                   0
Churn_Category                 4686
Churn_Reason                   4686
dtype: int64

In [26]:
df.duplicated().sum()

0

In [34]:
# renaming the column 
df.rename(columns={'Customer_Status':'target'}, inplace=True)

In [36]:
df['target'].mode()

0    Stayed
Name: target, dtype: object

In [44]:
df[['target']].value_counts()

target
Stayed     4275
Churned    1732
Joined      411
Name: count, dtype: int64